<footer class="footer fixed-bottom bg-light">
    <div class="container text-center">
        <p class="mb-0">&copy; Explore Solutions Worldwide</p>
    </div>
</footer>
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>