<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExploreEZ</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/destinations">All Destinations</a>
    <a href="/destinations/new">Add A Destination</a>
  </nav>  
